@import './base.css';

#app {
  max-width: 600px;
  margin: 0 auto;
  padding: 12rem 2rem 2rem;
  font-weight: normal;
}

body {
  min-height: max-content;
}

header {
  margin-bottom: 2px;
}

header a {
  font-size: 40px;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

button,
a {
  touch-action: manipulation;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media screen and (max-width: 767px) {
  #app {
    padding: 160px 7%;
  }
}
